@model Chat.AdminWeb.Models.UserListModel
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #pager ul li {
        float: left;
        margin-left: 10px;
        color:darkslategray;
        list-style-type: none;
        width: 30px;
        font-size: 15px;
        margin: 0px;
    }

    .curPager {
        color:cornflowerblue
    }
</style>
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-inline">
                    <div class="form-group mt10">
                        <select id="gender" class="form-control">
                            <option value="">性别</option>
                            <option value="true">男</option>
                            <option value="false">女</option>
                        </select>
                    </div>
                    <div class="form-group mt10">
                        <select id="isWon" class="form-control">
                            <option value="">是否获奖</option>
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                    <div class="form-group mt10">
                        <input type="text" id="txtStar" placeholder="请输入起始答题时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                        <input type="text" id="txtEnd" placeholder="请输入结束答题时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                    </div>
                    <div class="form-group mt10">
                        <input id="keyWord" type="text" placeholder="请输入用户名或手机号码" class="form-control">
                    </div>
                    <div class="form-group mt10">
                        <a class="btn btn-primary mr5" iconcls="icon-search" id="search" href="javascript:;"><i class="fa fa-search"></i> 搜 索 </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-primary mb30">
                    <thead>
                        <tr>
                            <th style="min-width: 80px;">编号</th>
                            <th style="min-width: 80px;">昵称</th>
                            <th style="min-width: 80px;">姓名</th>
                            <th style="min-width: 80px;">性别</th>
                            <th style="min-width: 80px;">联系方式</th>
                            <th style="min-width: 80px;">详细地址</th>
                            <th style="min-width: 80px;">创建时间</th>
                            <th style="min-width: 80px;">操作</th>
                        </tr>
                    </thead>
                    <tbody id="paperList">
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td data-attr="编号">@user.Id</td>
                            <td data-attr="昵称">@user.NickName</td>
                            <td data-attr="姓名">@user.Name</td>
                            <td data-attr="性别">@(user.Gender?"男":"女")</td>
                            <td data-attr="联系方式">@user.Mobile</td>
                            <td data-attr="详细地址">@user.Address</td>
                            <td data-attr="创建时间">@user.CreateDateTime</td>
                            <td data-attr="操作"><a href="@Url.Action("useractlist","activity",new { id=user.Id})" class="btn btn-primary btn-sm">参与的活动</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div id="pager">@Html.Raw(Model.Page)</div>
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>            
@section FooterScript
{
<script type="text/javascript">
    function getPage(pageIndex) {
        var gender = $("#gender").val();
        var isWon = $("#isWon").val();
        var startTime = $("#txtStar").val();
        var endTime = $("#txtEnd").val();
        var keyWord = $("#keyWord").val();
        $.ajax({
            url: "/user/search?pageindex=" + pageIndex, type: "post", data: { gender: gender, isWon: isWon, startTime: startTime, endTime: endTime, keyWord: keyWord },
            success: function (result) {
                if (result.status == "error") {
                    alert(result.errorMsg);
                }
                else if (result.status == "success") {
                    $("#pager").empty();
                    $("#pager").append(result.data.page);
                    $("#paperList").empty();
                    for (var i = 0; i < result.data.users.length; i++) {
                        var gendern = result.data.users[i].gender ? "男" : "女";
                        $("#paperList").append('<tr><td data-attr="编号">' + result.data.users[i].id + '</td><td data-attr="昵称">' + result.data.users[i].nickName + '</td><td data-attr="姓名">' + result.data.users[i].name + '</td><td data-attr="性别">' + gendern + '</td><td data-attr="联系方式">' + result.data.users[i].mobile + '</td><td data-attr="详细地址">' + result.data.users[i].address + '</td><td data-attr="创建时间">' + result.data.users[i].createDateTime + '</td><td data-attr="操作"><a href="/activity/useractlist?id=' + result.data.users[i].id + '" class="btn btn-primary btn-sm">参与的活动</a></td></tr>');
                    }
                }
                else {
                    alert("未知错误");
                }
            },
            error: function () { alert("网络错误"); }
        });
    }

    $(function () {
        jQuery('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy-mm-dd'
        });

        //搜索
        $("#search").click(function () {
            var gender = $("#gender").val();
            var isWon = $("#isWon").val();
            var startTime = $("#txtStar").val();
            var endTime = $("#txtEnd").val();
            var keyWord = $("#keyWord").val();
            $.ajax({
                url: "/user/search?pageindex=1", type: "post", data: { gender: gender, isWon: isWon, startTime: startTime, endTime: endTime, keyWord: keyWord },
                success: function (result) {
                    if (result.status == "error") {
                        alert(result.errorMsg);
                    }
                    else if (result.status == "success") {
                        $("#pager").empty();
                        $("#pager").append(result.data.page);
                        $("#paperList").empty();
                        for (var i = 0; i < result.data.users.length; i++) {
                            var gendern = result.data.users[i].gender ? "男" : "女";
                            $("#paperList").append('<tr><td data-attr="编号">' + result.data.users[i].id + '</td><td data-attr="昵称">' + result.data.users[i].nickName + '</td><td data-attr="姓名">' + result.data.users[i].name + '</td><td data-attr="性别">' + gendern + '</td><td data-attr="联系方式">' + result.data.users[i].mobile + '</td><td data-attr="详细地址">' + result.data.users[i].address + '</td><td data-attr="创建时间">' + result.data.users[i].createDateTime + '</td><td data-attr="操作"><a href="/activity/useractlist?id=' + result.data.users[i].id + '" class="btn btn-primary btn-sm">参与的活动</a></td></tr>');
                        }
                    }
                    else {
                        alert("未知错误");
                    }
                },
                error: function () { alert("网络错误"); }
            });
        });

        //删除
        $("#sureDel").click(function () {
            var id = $(this).val();
            $.ajax({
                url: "/user/deluser?id=", type: "post", data: { id: id },
                success: function (result) {
                    if (result.status == "error") {
                        alert(result.errorMsg);
                        $("#cancel").click();
                    }
                    else if (result.status == "success") {
                        $("#cancel").click();
                        window.location.reload();
                    }
                    else {
                        alert("未知错误");
                        $("#cancel").click();
                    }
                },
                error: function () { alert("网络错误"); $("#cancel").click(); }
            });
        });
    })
</script>
}
