@model Chat.FrontWeb.Models.ActivityViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>广西环保 @Model.Name</title>
    <link rel="stylesheet" type="text/css" href="~/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-default.css" />
    <link href="~/img/zhb.png" rel="shortcut icon" />
</head>
<body>
    <div  style="visibility:hidden;height:0px;width:0px;" ><img src="~/img/zhb.jpg" /></div>    
    <div class="index-bg">
        <div class="index-wrap">
            <div class="index-title">@Model.Name</div>
            <div class="index-dec">@Html.Raw(Model.Description.Replace("{{br}}", @"<br>"))</div>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>活动开始时间</dt>
                <dd>@Model.StartTime</dd>
            </dl>
            <dl class="index-dl">
                <dt>答题截止时间</dt>
                <dd>@Model.ExamEndTime</dd>
            </dl>
            <dl class="index-dl">
                <dt>开奖时间</dt>
                <dd>@Model.RewardTime</dd>
            </dl>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>当前参与人数</dt>
                <dd>@(Model.AnswerCount)人</dd>
            </dl>
            <dl class="index-dl">
                <dt>活动状态</dt>
                <dd class="txt-foces">@Model.StatusName</dd>                
            </dl>            
            <input type="hidden" id="status" value="@Model.StatusName" />
        </div>
    </div>
    <div class="menu">
        <button id="topic" class="menu-li" value="@Model.Id">
            <span class="menu-icon icon1"></span>
            <span class="menu-txt">本期知识</span>
        </button>
        <button id="answer" class="menu-li" value="@Model.Id">
            <span class="menu-icon icon2"></span>
            <span class="menu-txt">立即答题</span>
        </button>
        <button id="prize" class="menu-li" value="@Model.Id">
            <span class="menu-icon icon3"></span>
            <span class="menu-txt">获奖查询</span>
        </button>
        <button id="share" class="menu-li">
            <span class="menu-icon icon4"></span>
            <span class="menu-txt">转发好友</span>
        </button>           
</div>
    <div class="mask" id="mask-star">
        <div class="mask-wrap">
            <!--活动未开始-->
            <div class="green1">
                <a href="javascript:;" class="close jsClose">×</a>
                <div class="mask-popimg"><img src="/img/active-start.jpg"/></div>
                <a href="javascript:;" class="mask-popbtn jsClose">知道了</a>
            </div>
        </div>
    </div>    
    <div class="mask" id="mask-over">
        <div class="mask-wrap">            
            <!--已结束-->
            <div class="white1">
                <a href="javascript:;" class="close jsClose">×</a>
                <div class="mask-popimg"><img src="/img/active-over.jpg"/></div>
                <a href="javascript:;" class="mask-popbtn jsClose">知道了</a>
            </div>
        </div>
    </div>
    <div class="mask" id="mask-share">        
        <div class="share jsClose"><img src="/img/share.png" /></div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".jsClose").click(function () {
                $(".mask").css("display", "none");
            });

            $("#topic").click(function () {
                var id = $(this).val();
                var statusName = $("#status").val();
                $.ajax({
                    url: "/home/judge", type: "post", data: { id: id, typeName: "topic", statusName: statusName },
                    success: function (result) {
                        if(result.status=="nonExist")
                        {
                            alert("当前暂时没有活动");
                        }
                        else if(result.status=="redirect")
                        {
                            window.location.href=result.data
                        }
                    },
                    error: function () { alert("网络错误");}
                });
            });

            $("#answer").click(function () {
                var id = $(this).val();
                var statusName = $("#status").val();
                $.ajax({
                    url: "/home/judge", type: "post", data: { id: id, typeName: "answer", statusName: statusName },
                    success: function (result) {
                        if (result.status == "nonExist") {
                            alert("当前暂时没有活动");
                        }
                        else if (result.status == "redirect") {
                            window.location.href = result.data
                        }
                        else if(result.status=="tip" && result.errorMsg=="活动未开始")
                        {
                            $("#mask-star").css("display", "block");
                        }
                        else if (result.status == "tip" && result.errorMsg == "待开奖") {
                            $("#mask-over").css("display", "block");
                        }
                        else if (result.status == "tip" && result.errorMsg == "活动结束正开奖") {
                            $("#mask-over").css("display", "block");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });

            $("#prize").click(function () {
                var id = $(this).val();
                var statusName = $("#status").val();
                $.ajax({
                    url: "/home/judge", type: "post", data: { id: id, typeName: "prize", statusName: statusName },
                    success: function (result) {
                        if (result.status == "nonExist") {
                            alert("当前暂时没有活动");
                        }
                        else if (result.status == "redirect") {
                            window.location.href = result.data
                        }
                        else if (result.status == "tip" && result.errorMsg == "活动未开始") {
                            $("#mask-star").css("display", "block");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });

            $("#share").click(function () {
                $("#mask-share").css("display", "block");
            });
        });
    </script>
</body>
</html>
