@model Chat.FrontWeb.Models.ActivityViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>广西环保</title>
    <link rel="stylesheet" type="text/css" href="~/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-default.css" />
</head>
<body>
    <div class="index-bg">
        <div class="index-wrap">
            <div class="index-title">@Model.Activity.Name</div>
            <div class="index-dec">@Html.Raw(Model.Activity.Description.Replace("{{br}}", @"<br>"))</div>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>活动开始时间</dt>
                <dd>@Model.Activity.StartTime.ToString("yyyy-MM-dd")</dd>
            </dl>
            <dl class="index-dl">
                <dt>答题截止时间</dt>
                <dd>@Model.Activity.ExamEndTime.ToString("yyyy-MM-dd")</dd>
            </dl>
            <dl class="index-dl">
                <dt>开奖时间</dt>
                <dd>@Model.Activity.RewardTime.ToString("yyyy-MM-dd")</dd>
            </dl>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>当前参与人数</dt>
                <dd>@(Model.Activity.AnswerCount)人</dd>
            </dl>
            <dl class="index-dl">
                <dt>活动状态</dt>
                <dd class="txt-foces">@Model.Activity.StatusName</dd>
            </dl>            
        </div>
    </div>
    <div class="menu">
        <a href="~/home/topic?id=@Model.Activity.Id" class="menu-li">
            <span class="menu-icon icon1"></span>
            <span class="menu-txt">本期知识</span>
        </a>
        <a href="~/home/answer?id=@Model.Activity.Id" class="menu-li">
            <span class="menu-icon icon2"></span>
            <span class="menu-txt">立即答题</span>
        </a>
        <a href="~/home/prize?id=@Model.Activity.Id" class="menu-li">
            <span class="menu-icon icon3"></span>
            <span class="menu-txt">获奖查询</span>
        </a>
        <a href="#" id="zfhy" class="menu-li">
            <span class="menu-icon icon4"></span>
            <span class="menu-txt">转发好友</span>
        </a>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#zfhy").click(function () {
                alert("点击右上角转发给朋友或转发到朋友圈。成功转发后，系统将在开奖计算中为您增加30%的中奖概率。");                
            });
        });
    </script>
</body>
</html>
