@model Chat.FrontWeb.Models.ActivityViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>广西环保</title>
    <link rel="stylesheet" type="text/css" href="~/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-default.css" />
</head>
<body>
    <div class="index-bg">
        <div class="index-wrap">
            <div class="index-title">@Model.Activity.Name</div>
            <div class="index-dec">@Model.Activity.Description</div>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>活动开始时间</dt>
                <dd>@Model.Activity.StartTime.ToString("yyyy-MM-dd")</dd>
            </dl>
            <dl class="index-dl">
                <dt>答题截止时间</dt>
                <dd>@Model.Activity.ExamEndTime.ToString("yyyy-MM-dd")</dd>
            </dl>
            <dl class="index-dl">
                <dt>开奖时间</dt>
                <dd>@Model.Activity.RewardTime.ToString("yyyy-MM-dd")</dd>
            </dl>
        </div>
        <div class="index-wrap">
            <dl class="index-dl">
                <dt>当前参与人数</dt>
                <dd>@(Model.Activity.AnswerCount)人</dd>
            </dl>
            <dl class="index-dl">
                <dt>活动状态</dt>
                <dd class="txt-foces">@Model.Activity.StatusName</dd>
            </dl>
            <dl class="index-dl">
                <dt>我的参与情况</dt>
                <dd class="txt-foces">未参与</dd>
            </dl>
        </div>
    </div>
    <div class="menu">
        <a href="~/home/topic" class="menu-li">
            <span class="menu-icon icon1"></span>
            <span class="menu-txt">本期知识</span>
        </a>
        <a href="~/home/answer" class="menu-li">
            <span class="menu-icon icon2"></span>
            <span class="menu-txt">立即答题</span>
        </a>
        <a href="~/home/prize" class="menu-li">
            <span class="menu-icon icon3"></span>
            <span class="menu-txt">获奖查询</span>
        </a>
        <a href="#" class="menu-li">
            <span class="menu-icon icon4"></span>
            <span class="menu-txt">转发好友</span>
        </a>
    </div>
</body>
</html>
