@model Chat.FrontWeb.Models.PrizeViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>广西环保</title>
    <link rel="stylesheet" type="text/css" href="~/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style-default.css" />
</head>
<body>
    <div class="prize-bg">
        <div class="prize-t">
            <div class="prize-active-tit font">
                <p>@Model.ActivityName</p>
                <p>活动奖项</p>
            </div>
            <div class="prize-top-box">
                <div class="prize-top-tit">活动奖品</div>
                <div class="prize-top-name">@Model.PrizeName</div>
                @if (Model.StatusName == "开奖中")
                {
                    <div class="prize-top-dec">获奖人数:@Model.winCount</div>
                }
                else
                {
                    <div class="prize-top-dec">开奖时间:@Model.PrizeTime.ToString("yyyy-MM-dd")</div>
                }                
                <div class="prize-top-ck">图片仅供产考请以实物为准</div>
                <div class="prize-top-img"><img src="@Model.PrizeFirstUrl@Model.PrizeImgUrl" /></div>
            </div>
        </div>
        @if (Model.UserIsWon)
        {
            <div class="prize-result">恭喜您已中奖！工作人员将在5个工作日内与您取得联系！</div>
        }        
        <div class="prize-people">
            <div class="prize-people-tit">获奖用户名</div>
            <div class="prize-list">
                @if (Model.StatusName=="开奖中")
                {
                    foreach (var user in Model.Users)
                    {
                        <div class="prize-li">
                            <div class="prize-li-header">
                                <span>@user.UserName</span>
                            </div>
                            <div class="prize-li-phone">@user.Mobile</div>
                        </div>
                    }
                }            
            </div>
        </div>
        <div class="prize-btn">
            <a href="~/home/index">返回首页</a>
        </div>
    </div>
</body>
</html>
