@model Chat.AdminWeb.Models.ActivityEditLoadModel
@{
    ViewBag.Title = "编辑活动";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <form class="form-horizontal" method="post" id="formAdd" enctype="multipart/form-data" action="~/activity/edit">
        <div class="contentpanel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>基本信息</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动名称:</label>
                        <div class="col-sm-6">
                            <input type="text" name="name" value="@Model.Activity.Name" placeholder="" class="form-control">
                            <input type="hidden" name="activityId" id="activityId" value="@Model.Activity.Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动简介:</label>
                        <div class="col-sm-6">
                            <textarea name="description" value="@Model.Activity.Description" rows="5" cols="" class="form-control">@Model.Activity.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动状态:</label>
                        <div class="col-sm-6">
                            <select name="statusId" class="col-sm-3" style="height:30px">
                                <option value="0">
                                    活动状态
                                </option>
                                @foreach (var status in Model.Status)
                                {
                                    <option value="@status.Id" selected="@(Model.Activity.StatusId==status.Id)">
                                        @status.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动背景图:</label>
                        <div class="col-sm-6">
                            <input type="file" id="file_back" name="imgUrl" />
                            <img src="@Model.Activity.ImgUrl" id="img_back" alt="" style="margin-top: 10px; max-width: 100px; max-height: 400px;" />
                            <!--<input type="hidden" id="val_prize" value="imgUrl" />-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动开始时间:</label>
                        <div class="col-sm-6">
                            <input type="text" name="startTime" id="startTime" value="@Model.Activity.StartTime" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">答题截止时间:</label>
                        <div class="col-sm-6">
                            <input type="text" name="examEndTime" id="examEndTime" value="@Model.Activity.ExamEndTime" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开奖时间:</label>
                        <div class="col-sm-6">
                            <input type="text" name="rewardTime" id="rewardTime" value="@Model.Activity.RewardTime" class="form-control datepicker" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-inline">
                        <div class="form-group mt10">
                            <input type="text" id="txtStar" placeholder="请输入起始时间" class="form-control datepicker">
                            <input type="text" id="txtEnd" placeholder="请输入结束时间" class="form-control datepicker">
                        </div>
                        <div class="form-group mt10">
                            <input id="keyWord" type="text" placeholder="请输入试卷标题" class="form-control">
                            <input type="hidden" id="paperId" value="@Model.Paper.Id" />
                        </div>
                        <div class="form-group mt10">
                            <a class="btn btn-primary mr5" id="search" iconcls="icon-search" href="javascript:;"><i class="fa fa-search"></i> 搜 索 </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-primary mb30">
                        <thead>
                            <tr>
                                <th style="min-width: 20px;">选择</th>
                                <th style="min-width: 80px;">编号</th>
                                <th style="min-width: 80px;">试卷标题</th>
                                <th style="min-width: 80px;">考题数</th>
                                <th style="min-width: 40px;">创建时间</th>
                            </tr>
                        </thead>
                        <tbody id="paperList">
                            <tr>
                                <td data-attr="选择"><input type="radio" name="paperId" id="" value="@Model.Paper.Id" class="checkTm" checked="checked" /></td>
                                <td data-attr="编号">@Model.Paper.Num@Model.Paper.Id</td>
                                <td data-attr="试卷标题">@Model.Paper.TestTitle</td>
                                <td data-attr="考题数">@Model.Paper.ExercisesCount</td>
                                <td data-attr="创建时间">@Model.Paper.CreateDateTime</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>奖品设置</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">奖品名称:</label>
                        <div class="col-sm-6">
                            <input type="text" name="prizeName" value="@Model.Activity.PrizeName" id="prizeName" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">奖品图片:</label>
                        <div class="col-sm-6">
                            <input type="file" name="prizeImgUrl" id="file_prize" />
                            <img src="@Model.Activity.PrizeImgUrl" id="img_prize" alt="" style="margin-top: 10px; max-width: 100px; max-height: 400px;" />
                            <!--<input type="hidden" id="val_prize" value="prizeImgUrl" />-->
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" id="btnAdd" class="btn btn-primary mr5">确定</button>
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">删除</button>
                </div>
            </div>
        </div><!-- contentpanel -->
    </form>
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>确定删除该活动？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="sureDel">确认</button>
            </div>
        </div>
    </div>
</div>            
@section FooterScript
{
<script type="text/javascript">
        $(function(){
            //日期选择器
            jQuery('.datepicker').datepicker();
            //选择试卷
            $(".checkTm").click(function () {
                $(this).parents('tr').addClass('check').siblings().removeClass('check');
            })
            //确认删除
            $("#sureDel").click(function(){

            })
            //上传图片
            uploadpic("#file_back", "#img_back");
            uploadpic("#file_prize", "#img_prize");
            function uploadpic(fileid, img) {
                var oUpload = new UploadPic();
                oUpload.init({
                    input: $(fileid)[0],
                    callback: function (base64) {
                        $(img).attr('src', base64);
                    }
                });
            }

            $("#search").click(function () {
                var startTime = $("#txtStar").val();
                var endTime = $("#txtEnd").val();
                var keyWord = $("#keyWord").val();
                var paperId = $("#paperId").val();
                $.ajax({
                    url: "/testpaper/search", type: "post", data: { startTime: startTime, endTime: endTime, keyWord: keyWord },
                    success: function (result) {
                        if (result.status == "error") {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "success") {
                            $("#paperList").empty();
                            for (var i = 0; i < result.data.length; i++) {
                                if (parseInt(paperId) == parseInt(result.data[i].id))
                                {
                                    $("#paperList").append('<tr><td data-attr="选择"><input type="radio" name="paperId" id="" value="' + result.data[i].id + '" class="checkTm" checked="checked" /></td><td data-attr="编号">' + result.data[i].num + result.data[i].id + '</td><td data-attr="试卷标题">' + result.data[i].testTitle + '</td><td data-attr="考题数">' + result.data[i].exercisesCount + '</td><td data-attr="创建时间">' + result.data[i].createDateTime + '</td></tr>');
                                }
                                else
                                {
                                    $("#paperList").append('<tr><td data-attr="选择"><input type="radio" name="paperId" id="" value="' + result.data[i].id + '" class="checkTm" /></td><td data-attr="编号">' + result.data[i].num + result.data[i].id + '</td><td data-attr="试卷标题">' + result.data[i].testTitle + '</td><td data-attr="考题数">' + result.data[i].exercisesCount + '</td><td data-attr="创建时间">' + result.data[i].createDateTime + '</td></tr>');
                                }
                            }
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });

            //$("#btnAdd").click(function () {
            //    var data = $("#formAdd").serializeArray();
            //    $.ajax({
            //        url: "/activity/add", type: "post", data: data,
            //        success: function (result) {
            //            alert("ok");
            //        },
            //        error: function () { alert("网络错误"); }
            //    });
            //});
        })
</script>    
}
