@model Chat.AdminWeb.Models.ActivityEditLoadModel
@{
    ViewBag.Title = "编辑活动";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <form class="form-horizontal" method="post" id="formAdd" enctype="multipart/form-data" action="~/activity/edit">
        <div class="contentpanel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>基本信息</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动名称:</label>
                        <div class="col-sm-6">
                            <input type="text" name="name" id="name" value="@Model.Activity.Name" placeholder="" maxlength="30" class="form-control">
                            <input type="hidden" name="activityId" id="activityId" value="@Model.Activity.Id" />
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动简介:</label>
                        <div class="col-sm-6">
                            <textarea id="description" rows="5" cols="" class="form-control"></textarea>
                            <input type="hidden" name="description" id="desc" value="@Model.Activity.Description.Replace("{{br}}", @"<br>")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动背景图:</label>
                        <div class="col-sm-6">
                            <input type="file" id="file_back" name="imgUrl" /><p>请上传750*1334图片，支持格式“png、jpg、jpeg、bmp”</p>
                            <img src="@Model.Activity.ImgUrl" id="img_back" alt="" style="margin-top: 10px; max-width: 100px; max-height: 400px;" />
                            <input type="hidden" id="val_back_img" value="@Model.Activity.ImgUrl" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">活动开始时间:</label>
                        <div class="col-sm-6">
                            <input type="text" name="startTime" id="startTime" value="@Model.Activity.StartTime" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">答题截止时间:</label>
                        <div class="col-sm-6">
                            <input type="text" name="examEndTime" id="examEndTime" value="@Model.Activity.ExamEndTime" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开奖时间:</label>
                        <div class="col-sm-6">
                            <input type="text" name="rewardTime" id="rewardTime" value="@Model.Activity.RewardTime" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-inline">
                        <div class="form-group mt10">
                            <input type="text" id="txtStar" placeholder="请输入起始时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                            <input type="text" id="txtEnd" placeholder="请输入结束时间" class="form-control Wdate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})">
                        </div>
                        <div class="form-group mt10">
                            <input id="keyWord" type="text" placeholder="请输入试卷标题" class="form-control">
                            <input type="hidden" id="paperId" value="@Model.Paper.Id" />
                        </div>
                        <div class="form-group mt10">
                            <a class="btn btn-primary mr5" id="search" iconcls="icon-search" href="javascript:;"><i class="fa fa-search"></i> 搜 索 </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-primary mb30">
                        <thead>
                            <tr>
                                <th style="min-width: 20px;">选择</th>
                                <th style="min-width: 80px;">编号</th>
                                <th style="min-width: 80px;">试卷标题</th>
                                <th style="min-width: 80px;">考题数</th>
                                <th style="min-width: 40px;">创建时间</th>
                            </tr>
                        </thead>
                        <tbody id="paperList">
                            <tr>
                                <td data-attr="选择"><input type="radio" name="paperId" id="paperId" value="@Model.Paper.Id" class="checkTm" checked="checked" /></td>
                                <td data-attr="编号">@Model.Paper.Num@Model.Paper.Id</td>
                                <td data-attr="试卷标题">@Model.Paper.TestTitle</td>
                                <td data-attr="考题数">@Model.Paper.ExercisesCount</td>
                                <td data-attr="创建时间">@Model.Paper.CreateDateTime</td>
                            </tr>
                         @foreach (var paper in Model.Papers)
                         {
                            <tr>
                                <td data-attr="选择"><input type="radio" name="paperId" id="paperId" value="@paper.Id" class="checkTm" /></td>
                                <td data-attr="编号">@paper.Num@paper.Id</td>
                                <td data-attr="试卷标题">@paper.TestTitle</td>
                                <td data-attr="考题数">@paper.ExercisesCount</td>
                                <td data-attr="创建时间">@paper.CreateDateTime</td>
                            </tr>
                         }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>奖品设置</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">奖品名称:</label>
                        <div class="col-sm-6">
                            <input type="text" name="prizeName" value="@Model.Activity.PrizeName"  maxlength="50" id="prizeName" placeholder="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">奖品图片:</label>
                        <div class="col-sm-6">
                            <input type="file" name="prizeImgUrl" id="file_prize" /><p>请上传512*512图片，支持格式“png、jpg、jpeg、bmp”</p>
                            <img src="@Model.Activity.PrizeImgUrl" id="img_prize" alt="" style="margin-top: 10px; max-width: 100px; max-height: 400px;" />
                            <input type="hidden" id="val_prize_img" value="@Model.Activity.PrizeImgUrl" />
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="text-align:center">
                    <button type="button" id="btnAdd" class="btn btn-primary mr5">确定</button>
                    <!--<button class="btn btn-default" data-toggle="modal" data-target="#myModal">删除</button>-->
                </div>
            </div>
        </div><!-- contentpanel -->
    </form>
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>
          
@section FooterScript
{
<script type="text/javascript">
        $(function(){
            //日期选择器
            jQuery('.datepicker').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy-mm-dd'
            });
            //选择试卷
            $(".checkTm").click(function () {
                $(this).parents('tr').addClass('check').siblings().removeClass('check');
            })

            //上传图片
            uploadpic("#file_back", "#img_back");
            uploadpic("#file_prize", "#img_prize");
            function uploadpic(fileid, img) {
                var oUpload = new UploadPic();
                oUpload.init({
                    input: $(fileid)[0],
                    callback: function (base64) {
                        $(img).attr('src', base64);
                    }
                });
            }

            //textarea换行
            $("#description").blur(function () {
                var description = $(this).val();
                $("#desc").val(description.replace(/\n/g, "{{br}}").replace(/\s/g, "&nbsp;"));
            });

            $("#search").click(function () {
                var startTime = $("#txtStar").val();
                var endTime = $("#txtEnd").val();
                var keyWord = $("#keyWord").val();
                var paperId = $("#paperId").val();
                $.ajax({
                    url: "/testpaper/search", type: "post", data: { startTime: startTime, endTime: endTime, keyWord: keyWord },
                    success: function (result) {
                        if (result.status == "error") {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "success") {
                            $("#paperList").empty();
                            for (var i = 0; i < result.data.length; i++) {
                                if (parseInt(paperId) == parseInt(result.data[i].id))
                                {
                                    $("#paperList").append('<tr><td data-attr="选择"><input type="radio" name="paperId" id="" value="' + result.data[i].id + '" class="checkTm" checked="checked" /></td><td data-attr="编号">' + result.data[i].num + result.data[i].id + '</td><td data-attr="试卷标题">' + result.data[i].testTitle + '</td><td data-attr="考题数">' + result.data[i].exercisesCount + '</td><td data-attr="创建时间">' + result.data[i].createDateTime + '</td></tr>');
                                }
                                else
                                {
                                    $("#paperList").append('<tr><td data-attr="选择"><input type="radio" name="paperId" id="" value="' + result.data[i].id + '" class="checkTm" /></td><td data-attr="编号">' + result.data[i].num + result.data[i].id + '</td><td data-attr="试卷标题">' + result.data[i].testTitle + '</td><td data-attr="考题数">' + result.data[i].exercisesCount + '</td><td data-attr="创建时间">' + result.data[i].createDateTime + '</td></tr>');
                                }
                            }
                        }
                        else {
                            alert("未知错误");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });

            $("#file_back").change(function () {
                $("#val_back_img").val($(this).val());
            });
            
            $("#file_prize").change(function () {
                $("#val_prize_img").val($(this).val());
            });

            $("#btnAdd").click(function () {
                var actId = $("#activityId").val();
                var name = $("#name").val();
                var description = $("#desc").val();
                var imgUrl = $("#val_back_img").val();
                var startTime = $("#startTime").val();
                var examEndTime = $("#examEndTime").val();
                var rewardTime = $("#rewardTime").val();
                var paperId = $("#paperId").val();
                var prizeName = $("#prizeName").val();
                var prizeImgUrl = $("#val_prize_img").val();
                $.ajax({
                    url: "/activity/editJsonResp", type: "post",
                    data: {activityId:actId, name: name, description: description, imgUrl: imgUrl, startTime: startTime, examEndTime: examEndTime, rewardTime: rewardTime, paperId: paperId, prizeName: prizeName, prizeImgUrl: prizeImgUrl },
                    success: function (result) {
                        if (result.status == "error") {
                            alert(result.errorMsg);
                        }
                        else if (result.status == "success") {
                            $("#formAdd").submit();
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });

            //显示textarea正确显示换行空格
            function replaceAll(str) {
                if (str != null)
                    str = str.replace(/<br>/g, "\n")
                return str;
            }
            function replaceAllstr(str) {
                if (str != null)
                    str = str.replace(/&nbsp;/g, "\n")
                return str;
            }
            var data = $("#desc").val();
            var datastr = data.replace("<br>", "\n");
            datastr = replaceAll(data);
            var datastring = datastr.replace("&nbsp;", " ");
            datastring = replaceAllstr(datastr);
            $("#description").val(datastring);
            $("#desc").val(datastring.replace(/\n/g, "{{br}}").replace(/\s/g, "&nbsp;"));


        })
</script>    
}
