@model Chat.AdminWeb.Models.ActivityListModel
@{
    ViewBag.Title = "用户参与答题活动管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainpanel">
    <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-primary mb30">
                    <thead>
                        <tr>
                            <th style="min-width: 80px;">期数</th>
                            <th style="min-width: 80px;">活动名称</th>
                            <th style="min-width: 80px;">状态</th>
                            <th style="min-width: 80px;">是否当前活动</th>
                            <th style="min-width: 80px;">访问量</th>
                            <!--<th style="min-width: 80px;">转发次数</th>-->
                            <th style="min-width: 80px;">答题次数</th>
                            <th style="min-width: 80px;">获奖资格人数</th>
                            <th style="min-width: 80px;">获奖人数</th>
                            <th style="min-width: 80px;">创建时间</th>
                        </tr>
                    </thead>
                    <tbody id="paperList">
                        @foreach (var activity in Model.Activities)
                        {
                            <tr>
                                <td data-attr="期数">@activity.Num@activity.Id</td>
                                <td data-attr="活动名称">@activity.Name</td>
                                <td data-attr="状态">@activity.StatusName</td>
                                <td data-attr="是否当前活动">@(activity.IsCurrent ? "是" : "否")</td>
                                <td data-attr="访问量">@activity.VisitCount</td>
                                <!--<td data-attr="转发次数"></td>-->
                                <td data-attr="答题次数">@activity.AnswerCount</td>
                                <td data-attr="获奖资格人数">@activity.HavePrizeCount</td>
                                <td data-attr="获奖人数">@activity.PrizeCount</td>
                                <td data-attr="创建时间">@activity.CreateDateTime</td>                                
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>
        </div>
    </div><!-- contentpanel -->
</div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>


@section FooterScript
{
   
}
